@{
    ViewBag.Title = "Repositórios do Carlos Bastos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MvcGitRepositories.Models.RepositoryModel objModel = new MvcGitRepositories.Models.RepositoryModel();
    String test = objModel.GetRepositoriesbyUser();
}

<h2>Repositórios do Carlos Bastos</h2>


